/* css reset {{{ */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
input[type="text"], input[type="password"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
textarea {
    resize: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
img, li {
	vertical-align: top;
}
input:focus, a {
	outline: none;
}
input, button, textarea, select, optgroup, option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
textarea {
	overflow: auto;
}
/* }}} */
/* base style {{{ */
body {
	font: 12px/1.5 Arial, Helvetica, sans-serif;
	font-family: 'Microsoft YaHei';
	padding-bottom: 50px;
	text-align: left;
}
a:link, a:visited, a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input[type=submit] {
	cursor: pointer;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* }}} */
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/* css class {{{ */
.clear { clear: both; height: 0px; font-size:0px; overflow: hidden; }
/* float */
.lf {
	float: left;
	display: inline;
}
.rt {
	float: right;
	display: inline;
}
/* text algin */
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
/* padding */
.pad5 {
	padding: 5px;
}
.pad10 {
	padding: 10px;
}
.pad25 {
	padding: 25px;
}
.pl10 {
	padding-left: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pb15 {
	padding-bottom: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl50 {
	padding-left: 50px;
}
/* margin */
.mt5 {
	margin-top: 5px;
}
.mr5 {
	margin-right: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
/* font */
.fs14 {
	font-size: 14px;
}
.fs16 {
	font-size: 16px;
}
.fs18 {
	font-size: 18px;
}
.fs20 {
	font-size: 20px;
}
.fs30 {
	font-size: 30px;
}
.fwb {
	font-weight: bold;
}
/* color */
.color-b40014 {
	color: #b40014;
}
.color-787878 {
	color: #787878;
}
.color-646464 {
	color: #646464;
}
.color-ffffff {
	color: #ffffff;
}
/* background color */
.bkff {
	background: #ffffff;
}
.bkdc0000 {
	background: #dc0000;
}
.bk880c0c {
	background: #880c0c;
}
.bke5e5e5 {
	background: #e5e5e5;
}
/* line height */
.lh20 {
	line-height: 20px;
}
.lh22 {
	line-height: 22px;
}
.lh30 {
	line-height: 30px;
}
/* height */
.h30 {
	height: 30px;
}
/* }}} */
.new-wrapper {
	width: 800px;
	margin: 0 auto;
}
.new-block-top {
	height: 33px;
	line-height: 33px;
	color: #ffffff;
}
.pzbz-list li {
	width: 226px;
}
.pzbz-list li.pzbz-arrow {
	width: 30px;
}
.pzbz-arrow {
	padding-top: 111px;
	background: url('../images/icon.png') no-repeat -61px 38px;
}
.pzbz-arrow-rt {
	background-position: -12px 38px;
}
.pin-hong-info .rt {
	width: 395px;
	height: 417px;
	padding-left: 55px;
	background: url('../images/pin-hong-info.png') no-repeat;
}
.pin-hong-info .rt ul {
	padding: 30px 30px 0 0;
}
.pin-hong-info .rt ul li {
	line-height: 22px;
}
.pin-hong-name {
	line-height: 30px;
	margin-top: 52px;
}
.hong-why	.rt {
	width: 481px;
	height: 227px;
	margin-left: 40px;
	padding-left: 43px;
	background: url('../images/hong-why-line.png') no-repeat;
}
.hong-why	.rt ul li {
	padding-left: 10px;
	background: url('../images/point.png') no-repeat 0 13px;
}
.wlfh-cont {
	height: 84px;
	background: url('../images/wlfh-img-bot.png') no-repeat;
}
.wlfh-cont p {
	padding-left: 308px;
	padding-top: 48px;
}
.wlfh-cont p a {
	text-decoration: underline;
}
.wlfh-cont p a.rt {
	margin-right: 170px;
}
.wlfh-table {
	width: 800px;
	height: 175px;
	background: url('../images/wlfh-img-tab.png') no-repeat;
}
.wlfh-table td {
	text-align: center;
	vertical-align: middle;
}
.problem-cont {
	width: 800px;
	height: 377px;
	background: url('../images/problem-img.png') no-repeat;
}
.problem-cont p {
	padding-left: 472px;
	padding-top: 149px;
}
.buy-now-btn-row {
	margin-top: 55px;
}
.buy-now-btn-row input {
	width: 223px;
	height: 118px;
	border: 0;
	cursor: pointer;
	background: url('../images/buy-now-bg.png') no-repeat;
}
.zbbb-cont {
	width: 800px;
	height: 679px;
	background: url('../images/hong-icon.png') no-repeat;
}
.zbbb-cont form {
	height:  18px;
	padding-top: 550px;
}
.zbbb-cont-btn {
	width: 54px;
	height: 18px;
	border: 0;
	margin: 3px 34px 0 0;
	background: url('../images/select-btn-bg.png') no-repeat;
}
.zbbb-cont-text {
	height: 14px;
	width: 125px;
	font-size: 10px;
	border: 0;
}
.jiu-zhuang .rt {
	width: 360px;
	background: url('../images/jiu-zhuang-line.png') no-repeat 0 10px;
}
.jiu-zhuang-name {
	display: inline;
}
.jiu-zhuang .rt p {
	line-height: 20px;
}
.pjzs-cont {
	border: #b2b2b2 1px solid;
}
.pjzs-cont table {
	margin-top: 25px;
	border: #acacac 2px solid;
}
.pjzs-cont table td {
	border: #acacac 2px solid;
	line-height: 30px;
	background: #ffffff;
	font-size: 14px;
}
.xbynl-top {
	height: 50px;
	padding-top: 5px;
}
.xbynl-top .lf {
	margin-left: 18px;
	height: 45px;
}
.xbynl-top .rt {
	width: 400px;
	padding-right: 5px;
	line-height: 22px;
}

